{% extends 'base.html' %}

{% block title %}
    Confirm delete {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to delete {{ object.pk }}</h1>
    <div class='nav'>
        <a class='nav-link' href="{% url 'shopapp:products_details' pk=object.pk %}"><p>Back to product</p></a>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}